.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .item {
    width: 100%;
    display: flex;
    margin-bottom: 40px;
    background: #fff;
    padding: 5px;
    box-shadow: inset 0px 0px 4px 2px #2b5567;

    figure {
      margin-right: 15px;
    }

    @media (min-width: 700px) {
      width: 483px;
    }

    p {
      a {
        color: #4d4d4d;
        display: block;
        font-size: 0.9em;
        line-height: 1.2em;
        margin-top: 30px;
        padding: 0;
        width: 95%;
      }
    }

    .info {
      padding: 20px 5px 10px 5px;

      &__top {
        display: flex;

        .data {
          color: #5d5b5b;
          font-size: 14px;
        }

        .title {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          margin-left: 10px;

          a {
            color: #000;
            width: 100%;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}