* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
}

*:focus {
  outline: none;
}

html {
  box-sizing: border-box;
  color: #fff;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  background: rgb(9, 28, 37);
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;

  h1 {
    &.title {
      display: inline-block;
      font-size: 26px;
      margin: 0 0 10px 0;
      font-weight: 500;
    }
  }
}